body{
	background:#333;
	color:white;
	text-align: center;
	font-size:20px;
	font-family:'Patua One';
	letter-spacing: 3px;
}
h1{
	font-size: 48px;
}
#ans{
	font-size: 60px;
}
#bigmac{
	font-size: 60px;
}
.banner{
	padding-top: 10px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top:3px solid white;
    padding: 10px;
}
